@page
@model Conference.Areas.Admin.Pages.IndexModel
@{
	// Layout = "_Layout";
}
<!-- jsvectormap css -->
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex flex-stack " style="padding:16rem">
           
            <!--begin::Action group-->
            <div class="d-flex align-items-center gap-2" style="margin:auto;">
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <a href="/admin/events/index" class="btn btn-sm fw-bold btn-primary" style="width:16rem;height:3rem" >
                        الفعاليات
                    </a>
                    <!--end::Primary button-->
                </div>
            </div>
            <!--end::Action group-->
        </div>
        <!--end::Toolbar container-->
    </div>
  
</div>