@page
@model NotFoundModel
@{
}


<div style="background-color: #0098bd;text-align:center;color:white;padding-bottom:10px;">
    مشاركة الخريجين
</div>
<div id="banner-area" class="banner-area" style="background-image:url(Theme/images/banner/banner1.jpg)">
</div>
<div style="background-color: #0098bd;text-align:center;color:white;padding-bottom:10px;    padding-top: 10px;">

</div>

<div class="row text-center p-5">
    <div class="col-12">
        لقد انتهت الفاعلية
    </div>
 </div>

